/* Main navbar */
.navbar {
    background-color: #000;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 0.5px solid white;
  }
  

  .nav-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
 
  .nav-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
  }

  .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid white;
}

.logo img {
  height: 50px;
  width: auto;
}
  
  .nav-desktop a {
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    font-weight: 500;
    flex: 1;
    text-align: center;
  }

  .nav-desktop a:hover {
    text-decoration: underline;
  }
  
  .divider {
    width: 0.5px;
    height: 100%;
    background-color: white;
  }
  

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative; 
    z-index: 1000;
  }
  
  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
  }
  
  /* Mobile dropdown menu */
  .mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid white;
  }
  
  .mobile-menu a {
    padding: 1rem;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
  }
  

  @media (max-width: 768px) {
    .nav-desktop {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  }