name: Deployment

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.7.0
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build Project
        run: npm run build

      - name: Deploy to Nginx Folder
        run: |
          rsync -av --delete ./dist/ /var/www/portfolio-website/dist/

      # Restart Nginx
      - name: Restart Nginx
        run: sudo systemctl reload nginx